@model Backy.Pages.DriveMetaData

<div class="card drive-card new-drive-card mb-3" data-drive-name="@Model.Name" data-vendor="@Model.Vendor"
    data-model="@Model.Model" data-serial="@Model.Serial"
    data-search-text="@Model.Name @Model.Label @Model.Vendor @Model.Model @Model.Serial">
    <!-- Card Header -->
    <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #f8f9fa;">
        <div class="d-flex align-items-center">
            <!-- Expand/Collapse button -->
            <button class="btn btn-link p-0 me-2 chevron-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#driveDetails-@Model.Name" aria-expanded="false"
                aria-controls="driveDetails-@Model.Name">
                <img src="/icons/chevron-down.svg" alt="Expand Details" class="chevron-icon" style="height: 24px;">
            </button>
            <img src="/icons/hdd.svg" alt="Drive Icon" style="height: 24px; margin-right: 8px;" />
            <span>@(string.IsNullOrEmpty(Model.Label) ? "Unnamed Drive" : Model.Label)</span>
        </div>
        <!-- Split Button -->
        <div class="btn-group">
            <!-- Left Button -->
            <button type="button" class="btn btn-transparent select-drive-button" data-bs-toggle="tooltip"
                title="Select Drive">
                <img src="/icons/plus-square.svg" alt="Select Drive" style="height: 24px;">
            </button>
            <!-- Dropdown Button -->
            <button type="button" class="btn btn-transparent dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item wipe-drive-button">Wipe Drive</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- Collapsible Details -->
    <div class="collapse" id="driveDetails-@Model.Name">
        <div class="card-body">
            <!-- Drive Details Table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>State</th>
                            <td>Connected</td>
                        </tr>
                        <tr>
                            <th>Vendor</th>
                            <td>@Model.Vendor</td>
                        </tr>
                        <tr>
                            <th>Model</th>
                            <td>@Model.Model</td>
                        </tr>
                        <tr>
                            <th>Serial</th>
                            <td>@Model.Serial</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>@String.Format("{0:F2} GB", Model.PartitionSize / 1024.0 / 1024.0 / 1024.0)</td>
                        </tr>
                        @foreach (var partition in Model.Partitions)
                        {
                            <tr>
                                <th>Partition Name</th>
                                <td>@partition.Name</td>
                            </tr>
                            <tr>
                                <th>Mountpoint</th>
                                <td>@partition.MountPoint</td>
                            </tr>
                            <tr>
                                <th>Partition UUID</th>
                                <td>@partition.UUID</td>
                            </tr>
                            <tr>
                                <th>Filesystem</th>
                                <td>@partition.Fstype</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
